<!-- <nz-spin [nzSpinning]="loading" nzSize="large">
  <ng-container *ngIf="!loading; else skeleton"> -->
<nz-layout>
  <nz-header>
    <button
      nz-button
      nzType="primary"
      nzGhost
      (click)="getStateSum('state')"
    >
    Total Transactions By State
    </button>
    <button nz-button nzType="primary" nzGhost (click)="getStateCatSum()">
      Spending Category By Selected State
    </button>
    <button
      nz-button
      nzType="primary"
      nz-dropdown
      [nzDropdownMenu]="menu"
      nzGhost
    >
    {{ !categoryState ? "Please choose state" : categoryState}}
      
      <span nz-icon nzType="down"></span>
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="changeState('OK')">
          <a>OK</a>
        </li>
        <li nz-menu-item (click)="changeState('NY')">
          <a>NY</a>
        </li>
        <li nz-menu-item (click)="changeState('LA')">
          <a>LA</a>
        </li>
        <li nz-menu-item (click)="changeState('CA')">
          <a>CA</a>
        </li>
        <li nz-menu-item (click)="changeState('FL')">
          <a>FL</a>
        </li>
        <li nz-menu-item (click)="changeState('PA')">
          <a>PA</a>
        </li>
        <li nz-menu-item (click)="changeState('NC')">
          <a>NC</a>
        </li>
        <li nz-menu-item (click)="changeState('GA')">
          <a>GA</a>
        </li>
      </ul>
    </nz-dropdown-menu>
  </nz-header>
  <nz-layout>
    <nz-sider [nzWidth]="500">
      <nz-table
        #basicTable
        [nzData]="receiveSumData"
        [nzShowPagination]="false"
      >
        <thead>
          <tr style="text-align: center">
            {{
              tableName
            }}
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.name }}</td>
            <td>{{ data.value }}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-sider>
    <nz-content id="lineChart" style="width: 1000px; height: 400px">
    </nz-content>
  </nz-layout>
  <!-- <nz-footer>nhsiuzdhnuanvauihfnvnfvaoinvoanvan</nz-footer> -->
</nz-layout>

<!-- </ng-container>
</nz-spin>

<ng-template #skeleton>
  <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 10 }"></nz-skeleton>
</ng-template> -->

<div class="chat-gpt">
  <h2>Chat with ChatGPT</h2>
  
  <div id="chat-box" style="border: 1px solid black; height: 300px; overflow: auto; padding: 10px;"></div>
  
  <input type="text" id="user-input" placeholder="Type your message...">
  <button (click)="sendMessage()">Send</button>
</div>