<nz-page-header class="site-page-header" nzTitle="Register" nzSubtitle="Please type the relevant informations">
</nz-page-header>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="customer-register">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="first">First Name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
      <input nz-input formControlName="first" id="first" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="last">Last Name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
      <input nz-input formControlName="last" id="last" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="gender">Gender</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please select gender!">
      <nz-select id="gender" formControlName="gender" nzPlaceHolder="Select gender">
        <nz-option nzValue="male" nzLabel="male"></nz-option>
        <nz-option nzValue="female" nzLabel="female"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="job">Job</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
      <input nz-input formControlName="job" id="job" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Date of Birth</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-date-picker formControlName="dob" nzFormat="yyyy-MM-dd"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary" class="registerButton">Register</button>
    </nz-form-control>
  </nz-form-item>
</form>