<div >
    <nz-table #cancelTable [nzData]="listOfCustomerData" class="cTable" nzTableLayout="fixed" [nzPageSize]="5">
        <thead>
            <tr>
                <th>Customer Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Job</th>
                <th>Date of Birth</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of cancelTable.data">
                <td>{{ data.customerId }}</td>
                <td>{{ data.first }}</td>
                <td>{{ data.last }}</td>
                <td>{{ data.gender == "F" ? "Female" : "Male" }}</td>
                <td>{{ data.job }}</td>
                <td>{{ data.dob | slice:0:15}}</td>
                <td>
                    <button nz-button nzType="primary" [nzDanger]="true" (click)="deleteItem(data.customerId)">Delete
        </button>
                </td>
            </tr>
        </tbody>
    </nz-table>
    </div>